$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

/*-----------End Media Query--------*/

$main-color: #1b3249;
$text-color: #fff;
$head-color: #ad7000;
$main-hover: #ad7000;
$head-background-color: #f1f1f1;
$services-hover: #ff0000;
$background-color-card: #EFEFEF;
$opacity-background: rgba(27, 50, 73, .9);
$gray-color: rgb(128, 128, 128);
$footer-background: rgb(33, 35, 49);